default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: one_stop_shop_development

test:
  <<: *default
  database: one_stop_shop_test

production:
  <<: *default
  database: one_stop_shop_production
  username: one_stop_shop
  password: <%= ENV["ONE_STOP_SHOP_DATABASE_PASSWORD"] %>
