default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV.fetch("OSS_DATABASE_HOST") { "localhost" } %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { "5" } %>
  username: <%= ENV.fetch("OSS_DATABASE_USERNAME") { "postgres" } %>
  password: <%= ENV["OSS_DATABASE_PASSWORD"] %>
  port: <%= ENV.fetch("OSS_DATABASE_PORT") { "5432" } %>

development:
  <<: *default
  database: one_stop_shop_development

test:
  <<: *default
  database: one_stop_shop_test

production:
  <<: *default
  database: one_stop_shop_production
